.aboutContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.aboutItem {
    grid-column-start: 2;
    line-height: 2rem;
}

.aboutItem > h1 {
    padding-bottom: 2rem;
}

@media (max-width: 460px) {
    .aboutContainer {
        display: flex;
        text-align: center;
    }

    .aboutItem {
        padding: 0 1rem 0 1rem;
    }
}