.pageContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.heading {
    text-align: center;
}

.heading > h1 {
    padding-top: 2rem;
    font-size: 40px;
}

.heading > p {
    padding: 1.5rem 0 3rem 0;
}

.formContainer {
    grid-column-start: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.nameContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.firstNameInput {
    grid-column-start: 1;
    margin-right: 5px;
}

.lastNameLabel {
    margin-left: 5px;
}

.lastNameInput {
    grid-column-start: 2;
    margin-left: 5px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 10px;
}

span {
    padding-bottom: 2.5px;
}

.birthDateForm {
    display: flex;
    flex-direction: row;
}

.dateInput {
    width: 30px;
    margin-right: 10px;
}

.genderSelect {
    width: 50px;
}

.smallerInput {
    width: 50px;
}

.biggerInput {
    height: 60px;
}

.description {
    color: grey;
}

.btnContainer {
    display: flex;
    justify-content: center;
    padding: 1rem 0 1rem 0;
}

.btn {
    font-size: 1rem;
    background-color: black;
    border: solid white;
    color: white;
    cursor: pointer;
    padding: 0 2rem 0 2rem;
}

.btn:Hover {
    background-color: white;
    color: black;
}

@media (max-width: 460px) {
    .formContainer {
        padding: 0 1rem 0 1rem;
        
    }
}