h1 {
    text-align: center;
    padding-top: 2rem;
    font-size: 40px;
}

.coachingContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.medalPic {
    grid-column-start: 1;
}

.teamPic {
    grid-column-start: 3;
}

.coachingItem {
    grid-column-start: 2;
}

.coachingItem > p {
    padding: 5rem 2rem 0 2rem;
    line-height: 2rem;
}

.btnContainer {
    display: flex;
    justify-content: center;
    padding: 6rem 3rem 3rem 3rem;
}
  
.btn {
    font-size: 1rem;
    background-color: black;
    border: solid white;
    color: white;
    cursor: pointer;
}
  
.btn:hover {
    background-color: white;
    color: black;
}
  
.btnText {
    padding: .5rem;
}

@media (max-width: 460px) {
    .coachingContainer {
        display: grid;
        grid-template-rows: repeat(3, .5fr);
        padding: 0 1rem 0 1rem;
    }

    .medalPic {
        grid-row-start: 1;
        grid-column: 1 / span 3;
    }

    .teamPic {
        grid-row-start: 3;
        grid-column: 1 / span 3;
    }

    .coachingItem {
        grid-row-start: 2;
        grid-column: 1 / span 3;
    }

    .coachingItem > p {
        padding: 2rem 3rem 0 3rem;
    }

    .btnContainer {
        padding: 3rem 3rem 3rem 3rem;
    }
}