.imageContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, .5fr);
  position: relative;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.image {
  grid-column: 1 / span 3;
  grid-row: 1 / span 3;
}

.imageContainer > h1 {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  position: absolute;
  color: white;
  border: solid white;
  padding: 1rem;
  font-size: 30px;
}

.mission {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.paragraphStyles {
  margin: 0;
  padding: .5rem;
}

.quoteStyles {
  padding-top: .5rem;
}

.btnContainer {
  display: flex;
  justify-content: center;
  padding: 1rem 3rem 3rem 3rem;
}

.btn {
  font-size: 1.25rem;
  background-color: black;
  border: solid white;
  color: white;
  cursor: pointer;
}

.btn:hover {
    background-color: white;
    color: black;
}

.btnText {
  padding: .5rem;
}

@media (max-width: 460px) {
  .imageContainer {
    align-items: center;
  }

  .imageContainer > h1 {
    font-size: 20px;
    padding: 0;
  }
}