.footerContainer {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    padding-top: 1rem;
    color: white;
}

.footerContainer > a {
    padding: .5rem;
    color: white;
}

.footerContainer > a:visited {
    color: white;
}

.footerContainer > a:hover {
    color: grey;
}