.navContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
}

.navItem {
    color: white;
    text-decoration: none;
    justify-self: center;
}

.navItem:hover {
    color: grey;
}